<p id="notice"><%= notice %></p>


<p>
  <b>Language:</b>
  <%= @snippet.language.try(:name) %>
</p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
  <b>Body:</b>
  <%= @snippet.body %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
